@use "../../scss/" as *;

#footsec {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background: #faf3ed;
  padding: 20px 40px 0 40px;
  border-radius: 0 400px 0 100px;
  position: relative;

  #redflowersrighsid {
    width: 150px;
    position: absolute;
    right: 10px;
  }

  #redflowersrighsidx2 {
    width: 150px;
    position: absolute;
    left: 10px;
  }

  #footsecparentx1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    img {
      width: fit-content;
      width: 110px;
    }
    h1 {
      font-weight: 500;
      font-size: 40px;
      font-family: $font-family04;
    }
  }

  #footsecparentx2 {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: auto;

    .footsec01,
    .footsec02,
    .footsec03,
    .footsec04 {
      width: 25%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h3 {
        font-family: $font-family04;
        font-weight: 500;
        font-size: 25px;
      }
      p {
        line-height: 34px;
        font-weight: 500;
        font-size: 15px;
      }

      button {
        background: #fdc830; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #f37335,
          #fdc830
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #f37335,
          #fdc830
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border: none;
        width: fit-content;
        color: $white;
        font-size: 16px;
        // border: 1px solid $black;
        cursor: pointer;
        transition: .3s all;
        padding: 10px 20px;
        &:hover {
            transform: scale(1.05);
            border-radius: 50px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0px;
        li {
          list-style: none;
          a {
            line-height: 38px;
            font-weight: 500;
            font-size: 15px;
            color: $black;
            transition: 0.2s all;
            &:hover {
              font-size: 15.5px;
              background: #fdc830; /* fallback for old browsers */
              background: -webkit-linear-gradient(
                to right,
                #f37335,
                #fdc830
              ); /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(
                to right,
                #f37335,
                #fdc830
              ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

              padding: 5px 14px;
              border-radius: 20px;
              color: white;
            }
          }

          ul {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-top: 14px;
            li {
              a {
                &:hover {
                    padding: unset !important;
                    background: transparent !important;
                }
                svg {
                  font-size: 20px;
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  padding: 4px;
                  background: white !important;
                  transition: .3s all;
                  &:hover {
                    padding: 4px !important;
                    background: white !important;
                    color: black !important;
                    transform: scale(1.02);
                }
                }
              }
            }
          }
        }
      }
    }
  }

  #footsecparentx3 {
    border-top: 1px solid rgb(196, 196, 196);
    p {
      line-height: 34px;
      font-weight: 500;
      font-size: 15px;
      text-align: center;
      padding: 20px;
    }
  }
}
